/* Header */

.custom-navbar {
  min-height: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}




.navbar .navbar-brand.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 50px;
}

@media (max-width: 550px) {
  .navbar .navbar-brand.logo {
    font-size: 1.3rem;
  }
}


.nav-aligned {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  list-style: none;
}



.nav-aligned .link {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.nav-aligned .link:hover {
  color: #e76f51;
}

.nav-aligned .link svg {
  font-size: 1.5rem;
}

.link.active {
  color: #e76f51; 
  border-bottom: 2px solid #e76f51; 
  font-weight: bold;
}

/* Footer */

.footer {
  background-color: #333;
  padding: 2rem 1rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;

}

.footer-title {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-nav a {
  color: #bbb;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.footer-nav a:hover {
  color: #fff;
}

.footer-copy {
  font-size: 0.9rem;
  color: #aaa;
  margin: 20px 0px;
}

@media (max-width: 530px) {
  .footer-nav {
    flex-direction: column;
  }
}

@media (max-width: 330px) {
  .footer-title {
    font-size: 2rem;
  }
}